<div class="pages-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <div class="row">
                   <div class="col-md-8">
                        <ul class="  breadcrumbs">
                   
                    <li>
                        <a href="">
                            <span class="icon-home"></span> Home
                        </a>
                    </li>
                    <li class="active">News Details </li>
                  
                </ul> 
                   </div>
              
                   <div class="col-md-4">
                    <h3 style=" float:right;color: white;    margin-top: 8px;">{{data.thematic}}</h3>

                 </div>
               </div>
                
                 
            </div>
        </div>
    </div>
</div>
<!-- Ends: .pages-header -->
<!-- Starts: .career-details -->
<section class="career-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">
                <div class="cd-head">
                    
                        <h2>{{data.title}}</h2>
                    
                </div>
                <div></div>

                <div class="cd-contents row ">
                    <div class="col-lg-12 text-center">
                        <img src="{{data.image}}" style="width: 100%; height: auto;"alt="">
                    </div>
                    <div class="col-md-12 ">
                         <p class="mb-3">{{data.resume}} </p>
                         <span class="mt-3 mb-3">{{data.date}} </span>
                    </div>
                   
                  
                </div>
                <div class="cd-about mt-3">
                 
                    <p>{{data.description}} </p>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
tion: ;